*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/.bloop/
project/project/.bloop/
project/project/metals.sbt
project/plugins/project/

# Scala-IDE specific
.idea/
rest.iml
.DS_Store

# VS Code specific
.vscode/
.metals/
.blob/
.bsp/
.bloop/